.number{
    background-color: rgb(163, 241, 186);
    border-radius: 50%;
    text-align: center;
}

.navbar-brand{
    margin-left: auto;
}





@import "variables";
.navbar5{
    display: none;
}
.menuResponsive{
    display: none;
}
.navbar6{
    display: none;
}


.navbar{
    background: transparent!important;
    
}

.navbar-brand{
    margin-right:0 !important;
    width: 150px;
}
.form-check{
    height: 36px;
    font-size: 1rem;
    background: white;
    padding: 0.3rem;
    padding-right: 0.5rem;
    position: absolute;
   margin-left: 35rem;
   margin-top: 1px;
   border-radius: 0.2rem;
}
.nav-link{
    color: $color1;
    
   &:hover{
       color: #30302f;
   }
}

#navbar2{
    list-style: none;
    font-size: 0.9rem;
    
    h3{
        
        font-size: 0.8rem;
        font-weight: 300;   
        
        margin-left: 4.5px;
    }
    .dropdown-menu{
        background-color: #333333;
       a{
        color: white !important;
        &:hover{
            background: #3483fa;
        }
       }
    }
    .desplegable{
        .dropdown-menu{
            background-color: white;
           a{
            color: #333 !important;
            &:hover{
                background: #f5f5f5;
            }
           }
        }
    }
    i{
        font-size: 1.2rem;
    }
}
.dropdown:hover>.dropdown-menu {
    display: block;
   }
.map{
    font-size: 1.5rem;
}
.buscador{
    background-color: transparent;
    border: none;
    z-index: 20;
}

.number{
    color: black;
    
}

.navFlex{
    display: flex;
    justify-content: space-between;
}
.navbar5{
    background-color: $color2;
}
.navFlex2{
    display: flex;
    justify-content: space-between;
    padding-right: 1.5rem;
    padding-top: 15px;
}
.cartIcon{
    position: relative;
}
.number2{
    position: absolute;
  top: 0;
  left: 55%;
  background: red;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 2px;
}

.form-control:focus{
    outline: none;
  box-shadow: none;
}
.btn-outline-success:focus{
    outline: none;
  box-shadow: none;
}
